.button-container{
  display: grid;
  grid-template-areas: 
      "topbar   topbar    topbar    topbar"
      "ads    content   content   sidebar"
      "footer   footer    footer    footer";
  gap: 0.5em;
  margin: 10px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.screen{
  border: 1px solid black;
  height: 18px;
  text-align: right;
}
.calculator{
  width: 250px;
  border: 1px solid black;
}

.operator{
  background-color: grey;
}
.equals-key{
  background-color: blue;
}