.button-container{
  display: grid;
  grid-template-areas: 
      "topbar   topbar    topbar    topbar"
      "ads    content   content   sidebar"
      "footer   footer    footer    footer";
  gap: 0.5em;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}